.field {
  @apply bg-zinc-700 rounded-xl w-full overflow-x-clip;
  box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.3) inset;
}

.fieldTransition {
  transition-property: width, padding;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.form {
  @apply flex flex-col w-full h-full md:mb-24 mb-96;
}
