.tag {
    border-radius: 0.25rem;
    white-space: nowrap;
    margin: auto 0.1rem 0.1rem 0.1rem;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.25rem;
    @apply bg-zinc-600 text-gray-300;
}