.blogButtons {
  @apply flex flex-col;
}

.blogButtons > button {
  @apply text-slate-600 p-1;
}

.blogButtons > button:hover {
  color: var(--accent);
}

.blogButtons > button:hover:disabled, .blogButtons > button:disabled {
  @apply text-slate-400;
}

.tooltip::after {
  opacity: 0;
  content: attr(data-tooltip);
  @apply absolute bg-slate-700 text-white text-sm p-1 rounded-md shadow-lg transition-opacity;
}

.tooltip:hover::after {
  opacity: 1;
}

.tooltip:hover:disabled::after {
  opacity: 0;
}