.preview h1 {
  @apply text-5xl my-2 text-center  border-gray-300 border-b-2;
}

.preview h2 {
  @apply text-4xl my-2;
}

.preview h3 {
  @apply text-3xl my-2;
}

.preview h4 {
  @apply text-2xl my-2;
}

.preview h5 {
  @apply text-xl my-2;
}

.preview h6 {
  @apply text-lg my-2;
}

.preview p, .preview li {
  @apply text-base lg:text-lg;
}

.preview ul {
  list-style: circle;
  list-style-position: inside
}

.preview ol {
  list-style: decimal-leading-zero;
  list-style-position: inside;
}

.preview blockquote {
  @apply border-l-8 p-2;
}

.preview code.inlineCode {
  @apply rounded-md bg-slate-800 text-gray-200 p-1 whitespace-nowrap;
}

.preview hr {
  @apply border-t-2 border-t-gray-500 my-2
}

.preview a {
  @apply underline visited:text-gray-400
}