.field {
  box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.3) inset;
}

.fieldTransition {
  transition-property: width, padding;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.errorMessage {
  @apply text-red-500 text-sm;
}
