@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300&family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');


.fontOutfit {
  font-family: "Outfit", sans-serif;
}

.fontQuicksand {
  font-family: "Quicksand", sans-serif;
}

.fontJetbrainsMono {
  font-family: 'JetBrains Mono', monospace;
}
