@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: black;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(189, 189, 189);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-5xl sm:text-5xl md:text-3xl lg:text-3xl xl:text-xl 2xl:text-xl
  text-white bg-zinc-800 overflow-x-clip;
}

.accent-text {
  color: #b35afc;
}

.accent-bg {
  background-color: #b35afc;
}
