@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300&family=Quicksand&display=swap");

.fontOutfit {
  font-family: "Outfit", sans-serif;
}

.fontQuicksand {
  font-family: "Quicksand", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(189, 189, 189);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-xl text-white bg-zinc-800;
}
